/* PostCard Base Styles */
.post-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.4rem;
  /* max-height: 460px; */
  box-shadow: 0 27px 32px rgba(5, 5, 5, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Image Section */
.post-image {
  width: 100%;
  /* height: 180px; */
  object-fit: cover;
  background-color: #f0f0f0;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: #888;
  font-size: 1rem;
  font-style: italic;
}

/* Content Section */
.post-details {
  padding: 0.8rem; /* Standardized padding */
}

.post-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 0.5rem 0;
  transition: color 0.3s ease;
}

.post-title:hover {
  color: #3498db;
}

.post-snippet {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 0.5rem 0;
}

.post-meta {
  font-size: 0.875rem;
  color: #95a5a6;
  margin-bottom: 8px;
}

/* Call-to-action Link */
.details-link {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  /* color: #deda03; */
  background: #f1f5f7;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.details-link:hover {
  background: #2980b9;
  transform: translateY(-2px);
}

/* Error Card Styles */
.error-card {
  padding: 1rem;
  background: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .post-image {
    height: 140px; /* Reduced height for smaller screens */
  }

  .post-title {
    font-size: 1.2rem;
  }

  .post-snippet {
    font-size: 1rem;
  }

  .details-link {
    padding: 6px 12px;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {

  .post-details {
    padding: 12px;
  }

  .post-title {
    font-size: 1.2rem;
  }

  .post-snippet {
    font-size: 1rem;
  }
  .post-delivery {

  }
  .details-link {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
}

.post-delivery {
  margin-top: 0.5rem;
  color: #555;
  
  font-weight: bold;
}
.one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.more-images{
  color: white !important;
  margin-top: -54px;
  z-index: 11111;
}

.additional-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}












/* .like-button button {
  background-color: #c2c2c2;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.like-button button.liked {
  background-color: #28a745;
}

.like-button button.not-liked {
  background-color: #007bff;
}

.like-button button:hover {
  background-color: #0056b3;
} */
